* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  margin: auto;
}
.background {
  background: url(images/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.media-links {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

.media-links > i {
  margin-right: 1.5rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > img {
  width: 15rem;
  height: 10rem;
}

.nav-links {
  justify-self: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

li {
  margin-right: 1rem;
}

.hero {
  display: flex;
  width: 90%;
  margin: auto;
}

.hero-greeting {
  width: 50%;
  font-size: 2.5rem;
  text-align: center;
}

.hero-image {
  width: 40%;
}

.hero-image > img {
  width: 100%;
  height: auto;
}

.about-us {
  display: flex;
  width: 100%;
  padding: 3rem 5rem;
}

.about-us_intro {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.about-us_img {
  width: 60%;
}
.about-us_img > img {
  width: 100%;
  min-width: 300px;
  min-height: 200px;
}
.about-us_intro > h1 {
  font-size: 3rem;
}
.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  background: #f5f8fd;
}
.services-header {
  text-align: center;
}
.services-header > h1 {
  font-size: 4rem;
}
.services-header > p {
  font-size: 2rem;
}

.services-container {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  width: 24%;
  background: #fffa;
  min-width: 300px;
  box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
  margin: 2rem;
  border-radius: 3%;
}
.service > h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
.service > p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 2rem;
}

.benefits {
  width: 100%;
  margin-top: 5rem;
}
.benefits-heading {
  text-align: center;
  margin-bottom: 4rem;
}
.benefits-heading > h1 {
  font-size: 3rem;
}
.benefits-heading > p {
  font-size: 1.5rem;
  margin-top: 1.5rem 0.5rem;
}
.benefits-image {
  width: 50%;
}
.benefits-image > img {
  max-width: 100%;
}
.benefits-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.benefits-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0rem 1rem;
}

.benefits-details > p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.benefits-details_detail {
  display: flex;
  flex-direction: column;
}
.benefits-details_detail > h3 {
  font-size: 2rem;
  padding: 0.5rem 0rem;
}
.benefits-details_detail > p {
  font-size: 1rem;
  line-height: 1.5;
}

.cta {
  width: 100%;
  height: 10rem;
  background: #2d2b46;
  color: #f5f8fd;
  margin-top: 5rem;
}
.cta-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
  height: 100%;
}
.cta-info {
  width: 60%;
  height: auto;
  margin: auto;
}
.cta-container_btn {
  height: 100%;
  margin: auto;
}
.cta-container_btn > button {
  width: 100%;
  margin: auto;
}

.bitcoin-info {
  display: flex;
  flex-direction: column;
}
.bitcoin-info_details {
  max-width: 100%;
  margin: auto;
  margin-top: 10rem;
}
.bitcoin-info_details > img {
  float: left;
  width: 45%;
  height: 300px;
  margin: 0.5rem;
}
.bitcoin-info_details > p,
h2 {
  text-align: justify;
  padding: 0.5rem 1rem;
  font-size: 1.5em;
  line-height: 1.5;
}
.bitcoin-info_details--2 > img {
  float: right;

  text-align: right;
  padding: 1rem;
}

.slideshow {
  margin-top: 10rem;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

.team {
  background: #f5f8fd;
  width: 100%;
  padding-top: 5%;
}
.team-header {
  text-align: center;
}
.team-header > p {
  font-size: 1.5rem;
}
.team-header > h1 {
  font-size: 3rem;
}
.team-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 50%;
  margin: 3rem auto;
}
.members-member {
  background: url(images/team-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
  width: 25%;
  min-width: 300px;
  margin: auto;
  margin-bottom: inherit;
}
